.how-work{

}

.how-work__title {
  font-weight: 600;
  font-size: 23px;
  line-height: 115%;
  margin-left: 5%;
  margin-bottom: 88px;
}

.how-work__block{
position: relative;
  margin-bottom: 80px;
  margin-left: 22%;
  margin-right: 12%;
  @media (min-width: $tablet) {
    margin: 0;
    width: 200px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &--three{
    @media (min-width: 1200px) {
      margin-right: 10vw;
    }
    @media (min-width: 1484px) {
      margin-right: 20vw;
    }
    @media (min-width: 1780px) {
      margin-right: 30vw;
    }
    @media (min-width: 2225px) {
      margin-right: 40vw;
    }


  }

}

.how-work__span{
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  opacity: 0.2;
  position: absolute;


  &__first{
    bottom: 45px;

    @media (min-width: 328px ) {
      bottom: 30px;
    }
    @media (min-width: 515px ) {
      bottom: 10px;
    }
    @media (min-width: $tablet ) {
      bottom: 54px;
    }
  }
  &__doble{
    bottom: 25px;

    @media (min-width: 378px ) {
      bottom: 10px;
    }
    @media (min-width: 594px ) {
      bottom: -10px;
    }
    @media (min-width: $tablet ) {
      bottom: 53px;
    }
  }
  &__three {
    bottom: -10px;

    @media (min-width: 351px ) {
      bottom: -10px;
    }
    @media (min-width: $tablet ) {
      bottom: 53px;
    }
  }
  &__four{
    bottom: 7px;

    @media (min-width: 351px ) {
      bottom: 20px;
    }
    @media (min-width: 365px ) {
      bottom: 10px;
    }
    @media (min-width: 556px ) {
    bottom: -10px;
  }
    @media (min-width: $tablet ) {
      bottom: 42px;
    }

  }
  &__five{bottom: -10px;
  @media (min-width: $tablet ) {
    bottom: 43px;
  }
  }
}

.how-work__paragraph{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
}
.how-work__main-block{
  display: flex;
  flex-wrap: wrap;
  margin-left:5%;
  @media (min-width: 969px ){
    margin-left: 20%;
  }
  @media (min-width: 986px ){
    margin-left: 30%;
  }


}
