@import "normalize.scss";
@import "variables.scss";
@import "fonts.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/header.scss";
@import "blocks/services.scss";
@import "blocks/slider.scss";
@import "blocks/btn_order.scss";
@import "blocks/individual_approach.scss";
@import "blocks/how-work.scss";
@import "blocks/reviews.scss";
@import "blocks/footer.scss";
@import "blocks/order-title";
@import "blocks/additional_information.scss";
@import "blocks/audio.scss";
@import "blocks/flickity.scss";
@import "blocks/page-info.scss";
@import "blocks/voice.scss";
@import "blocks/modal.scss";
@import "blocks/mob_menu.scss";



body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400; /*эту строчку можно пропустить*/
}

/*Правило только для Firefox*/
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;

  }}
