$basic_black: #232323;
$basic_black2: #000000;
$basic_white: #ffffff;
$basic_yellow: #f6ee2d;
$basic_yellow2: #f6ee2d;
$basic_grey: #c4c4c4;
$basic_grey2: #a9a9a9;
$basic_light-grey: #f0f2f4;
$oppacity_black50:rgba(35, 35, 35, 0.5);
$oppacity_black30:rgba(35, 35, 35, 0.3);
$add_yellow: rgba(247,221,45,0.2);

$mobile:767px;
$tablet:768px;
$dekstop:1440px;
